<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>
                <% if(matches) { %>
                    Filming Details of <%= matches[0].showName %> at <%= matches[0].cityName %>
                <% } else { %>
                    No Matches Found.
                <% } %>
            </h1>
            <% if(currentUser) { %>
                <div class="custom-btn-group">
                    <a class="btn btn-light" href="/cities/<%= cityId %>/shows/<%= showId %>/new">Add</a>
                </div>
            <% } %>
        </div>
    </header>
    <div class="table-header-left">
        SCREENSHOT
        <i class="fas fa-caret-down"></i>
        <span class="table-header-right">
            PHOTO
            <i class="fas fa-caret-down"></i>
        </span>
    </div>
    <div class="ui items">
        <% if(matches) { %>
            <% matches.forEach(function(match) { %>
            <div class="item">
                <div class="image">
                    <a class="ui medium image" href="/matches/<%= match._id %>/showScreenshot">
                        <img src="<%= match.showScreenshot %>" alt="show screenshot">
                    </a>
                </div>
                <div class="content">
                    <div class="description">
                    <p><%= match.description %></p>
                    </div>
                    <div class="extra">
                        <i class="fas fa-map-marked-alt"></i>
                        <a href="/matches/<%= match._id %>/map"><%= match.address %></a>
                    </div>
                </div>
                <div class="image">
                    <a class="ui medium image" href="/matches/<%= match._id %>/cityPhoto">
                        <img src="<%= match.cityPhoto %>" alt="city photo">
                    </a>
                </div>
            </div>
            <hr class="style-six" />
            <% }); %>
        <% } %>
    </div>
</div>
<% include ../partials/footer %>
