<% include ../partials/header %>
<div class="container new-form">
    <!-- <div class="row"> -->
        <h1>Edit <%= city.name %></h1>
        <form action="/cities/<%= city._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="cityName">City Name:</label>
                <%= city.name %>
            </div>
            <div class="form-group">
                <label for="countryName">Country/Region:</label>
                <input class="form-control" type="text" name="country" value="<%= city.country %>" />
            </div>
            <!-- <div class="form-group">
                <label for="imgURL">Image URL:</label>
                <input class="form-control" type="text" name="image" placeholder="Image URL" />
            </div> -->
            <div class="form-group">
              <label for="cityImage">Add One Image:</label>
              <input type="file" id="cityImage" name="image">
              <p class="help-block">Upload a good picture of this city.</p>
            </div>
            <div class="form-group">
              <label for="introduction">Introduction:</label>
              <textarea class="form-control" rows="5" name="intro"><%= city.intro %></textarea>
            </div>
            <div class="form-group">
                <label for="showName">Show Name and It's Douban ID:</label>
                <% city.shows.forEach(function(show) { %>
                    <div class="row added">
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name="show[]" value="<%= show.name %>" />
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name="douban[]" value="<%= show.douban %>" />
                        </div>
                    </div>
                <% }); %>
                <div class="row addable">
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="show[]" />
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" name="douban[]" />
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" id="addrow">Add One More</button>
                <small class="form-text text-muted">Douban ID Must be 8 Digits.</small>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default btn-primary btn-block" type="submit">Submit</button>
            </div>
        </form>
        <a href="/">Go Back</a>
    <!-- </div> -->
</div>
<% include ../partials/footer %>
