<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Search for the City</h1>
            <form class="form-inline" action="/cities/results" method="get">
                <input class="form-control mr-sm-2" type="text" name="city" placeholder="Toronto" />
                <input type="submit" class="btn btn-primary btn-md" value="Search"/>
            </form>
        </div>
    </header>
    <div class="row">
        <div class="col-lg-12">
            <h3><%= headline %></h3>
        </div>
    </div>
    <div class="card-columns">
        <% cities.forEach(function(city) { %>
                <!-- <div class="col-md-3 col-sm-6 cardrow"> -->
                    <div class="card">
                        <img class="card-img-top" src="<%= city.imageURL %>">
                        <div class="card-body">
                            <h3 class="card-title"><%= city.name %></h3>
                            <p class="max-lines card-text"><%= city.intro %></p>
                            <a href="/cities/<%= city._id %>" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                <!-- </div> -->
        <% }); %>
    </div>
    <!-- <div class="row">
        <% cities.forEach(function(city) { %>
                <div class="col-md-3 col-sm-6 cardrow">
                    <div class="card">
                        <img class="card-img-top" src="<%= city.imageURL %>">
                        <div class="card-body">
                            <h3 class="card-title"><%= city.name %></h3>
                            <p class="max-lines card-text"><%= city.intro %></p>
                            <a href="/cities/<%= city._id %>" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
        <% }); %>
    </div> -->
</div>
<% include ../partials/footer %>
