<% include ../partials/header %>
<div class="container">
    <div class="ui items">
        <div class="item">
            <div class="image">
                <img src="<%= show.imageURL %>">
            </div>
            <div class="content">
                <a class="header" href="/shows/<%= show._id %>"><%= show.name %></a>
                <div class="description">
                <p><%= show.intro %></p>
                </div>
                <!-- <div class="extra">
                    <a href="https://movie.douban.com/subject/<%= show.douban %>">Link to Douban</a>
                </div> -->
                <div class="custom-btn-group">
                    <a class="btn btn-success" href="https://movie.douban.com/subject/<%= show.douban %>">
                        Douban
                    </a>
                    <% if(currentUser) { %>
                        <a class="btn btn-outline-dark" href="/shows/<%= show._id %>/edit">Edit</a>
                    <% } %>
                </div>
            </div>
        </div>
        <hr class="style-six" />
    </div>
    <div class="row headline">
        <div class="col-lg-12">
            <h3>The Show is Filmed in...</h3>
        </div>
    </div>
    <div class="row">
        <% cities.forEach(function(c) { %>
        <div class="col-md-12 outer-row">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
              <h3 class="mb-0">
                <a class="text-dark" href="/cities/<%= c._id %>"><%= c.name %></a>
              </h3>
              <div class="mb-1 text-muted"><%= c.country %></div>
              <p class="card-text mb-auto"><%= c.intro %></p>
              <div class="custom-btn-group">
                  <a href="/cities/<%= c._id %>/shows/<%= show._id %>" class="btn btn-light">
                      Filming Details
                  </a>
              </div>
            </div>
            <img class="show-detail-city-img card-img-right flex-auto d-none d-lg-block"
            data-src="holder.js/200x250?theme=thumb" data-holder-rendered="true"
            src="<%= c.imageURL %>" >
          </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer %>
