<% include ../partials/header %>
<div class="container new-form site-content">
    <!-- <div class="row"> -->
        <h1 class="mb-3">Edit <%= show.name %></h1>
        <form action="/shows/<%= show._id %>?_method=PUT" method="post" enctype="multipart/form-data" class="ui form">
            <div class="field">
                <label>Show Title</label>
                <%= show.name %>
            </div>
            <div class="field">
                <label>Douban ID</label>
                <input type="text" name="show[douban]" value="<%= show.douban %>" />
            </div>
            <div class="field">
              <label>Poster of the Show</label>
              <div class="custom-file">
                  <input type="file" name="image" accept="image/*" class="custom-file-input" id="image-input">
                  <label class="custom-file-label" for="customFile">Choose file</label>
              </div>
              <div class="mt-2 d-flex justify-content-center">
                  <canvas id="canvas" style="height: 296px;width: 200px;">Your browser does not support the HTML5 canvas element.</canvas>
              </div>
              <div class="d-flex justify-content-center">
                  <input type="button" id="btnCrop" value="Crop" class="ui button mt-2" disabled />
              </div>
              <div class="mt-2 d-flex justify-content-center">
                  <img id="result" style="width:200px; height:296px; display:none;"></img>
              </div>
              <!-- <p class="help-block">Upload a poster of this show.</p> -->
            </div>
            <div class="field">
              <label>Summary</label>
              <textarea rows="5" name="show[intro]" id="summary"><%= show.intro %></textarea>
              <small class="form-text text-muted">No longer than 300 characters.</small>
            </div>
            <button class="fluid large ui secondary button" type="submit">Submit</button>
            <div class="ui error message"></div>
        </form>
        <!-- <a href="/back">Go Back</a> -->
    <!-- </div> -->
</div>
<script type="text/javascript" src="/js/image-process.js"></script>
<script type="text/javascript">
    // $(document).ready(function() {
        $('body').css('background-image', 'url("https://res.cloudinary.com/doetad8xo/image/upload/v1536453178/Mystic.png")').css('background-size', 'cover');
        $('.ui.form').form({
            fields: {
                summary: 'maxLength[300]'
            },
            onSuccess: function(event, fields) {
                validationCallback(event, this);
            }
        });
    // });
</script>
<% include ../partials/footer %>
