<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Search for the Show</h1>
            <form class="form-inline" action="/shows/results" method="get">
                <input class="form-control mr-sm-2" type="text" name="show" placeholder="Person Of Interest" />
                <input type="submit" class="btn btn-primary btn-md" value="Search"/>
            </form>
        </div>
    </header>
    <div class="row headline">
        <div class="col-lg-12">
            <h3><%= headline %></h3>
        </div>
    </div>

    <div class="row">
        <% shows.forEach(function(show) { %>
                <div class="col-md-3 col-sm-6 outer-row">
                    <div class="card">
                        <img class="card-img-top" src="<%= show.imageURL %>">
                        <div class="card-body">
                            <h3 class="card-title"><%= show.name %></h3>
                            <p class="max-lines card-text"><%= show.intro %></p>
                            <a href="/shows/<%= show._id %>" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>
